.contactContainer{
    padding: 5rem 20px;
    background-color: var(--primary-color);
}

.formWrapper{
    display: flex;
    justify-content: center;
}

.formWrapper form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 35rem;
}

.formWrapper form input,
.formWrapper form textarea {
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
    outline: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: var(--fs-small);
    border: .1rem solid rgba(255,255,255,.4);
}

.formWrapper button {
    background: #202020;
    border: .1rem solid rgba(255,255,255,.4);
    color: #fff;
    padding: 10px 0;
    border-radius: 10px;
    font-size: var(--fs-small);
    font-family: var(--secondary-font);
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.errorMessage{
    font-size: 14px;
    font-family: var(--secondary-font);
    color: #ff0000;
}

.containerTitle{
    text-align: center;
    color:#fff;
    font-family: var(--primary-font);
    margin-bottom: 40px;
    font-size: var(--fs-heading);
}