.cardContainer {
    position: relative;
    width: 100%;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    border-radius: 45px;
    padding: 30px;
    background-clip: padding-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardContainer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
    border-radius: inherit;
    padding: 2px;
    z-index: 0;
    pointer-events: none;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}
