.countryContainer{
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    gap: 3rem;
    
}
.filterSection {
    background-color: inherit;
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filterSection input {
    flex: 1;
    min-width: 150px;
    max-width: 300px;
    padding: 8px 16px;
    background-color: var(--primary-color);
    border: 1px solid white;
    outline: none;
    border-radius: 15px;
    color: #fff;
    font-family: var(--secondary-font);
    font-size: var(--fs-small);
}

.filterSection select {
    padding: 8px 16px;
    background-color: var(--primary-color);
    border: 1px solid white;
    outline: none;
    border-radius: 15px;
    color: #fff;
    font-family: var(--secondary-font);
    font-size: var(--fs-small);
}

.filterSection select option{
    font-family: var(--secondary-font);
}

.paginationContainer{
    display: flex;
    width: 100%;
    max-width: 75%;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.paginationInfo{
    font-family: var(--secondary-font);
}


.countrySection{
    width: 100%;
    max-width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.countrySection img{
    width: 100%;
    aspect-ratio: 4/3;
    align-self: center;
}

.countrySection h1{
    font-size: var(--fs-large);
    font-family: var(--primary-font);
}

.countrySection p{
    color: #ffffff80;
    font-family: var(--secondary-font);
    font-size: var(--fs-small);
    font-weight: 600;
}

.countrySection span{
    color: #fff;
    font-weight: normal;
}

.styledButton{
    background-color: #282828;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    color:white;
    border-radius: 15px;
    font-family: var(--secondary-font);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.styledButton:disabled {
    opacity:.5;
    cursor:not-allowed
  }

.styledButton span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationContainer{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    max-width: 75%;
    width: 100%;
}

@media (min-width: 1240px) {
    .styledButton{
        font-size: calc(1rem + .1vw);
    }
}

@media (max-width:1240px){
    .countrySection{
        grid-template-columns: repeat(2, 1fr);
        max-width: 85%;
    }

    .filterSection{
        max-width: 85%;
        justify-content: center;
    }

    .paginationContainer{
        justify-content: center;
    }
}

@media (max-width:768px){
    .countryContainer{
        padding: 3rem 0;
    }
    .countrySection{
        grid-template-columns: 1fr;
    }
}