.contactContainer{
    display: grid;
    place-items: center;
    background-color: #28282B;
    color: #ffffff;
    font-family: var(--secondary-font);
    padding: 1rem 0 1rem 0;
}

.contactContent{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.copyRightContainer{
    display: grid;
    place-items: center;
    background-color: #202020;
}

.copyRightContent{
    width: 75%;
    padding: 1rem 0 1rem 0;
    font-family: var(--secondary-font);
    color: white;
    font-size: var(--fs-small);
}

.copyRightContent span{
    color: rgb(95, 72, 248);
}

.icon{
    width: 40px;
    height: 40px;
    color: rgb(95, 72, 248);

}

.contentBox{
    display: flex;
    align-items: center;
    gap: 15px;
}

.contentBox h1{
    font-size: var(--fs-normal);
}

.contentBox p{
    font-size: var(--fs-small);
}

@media (max-width: 768px){
    .contactContent{
        flex-direction: column;
        width: 85%;
        gap: 1rem;
    }

    .copyRightContent{
        width: 85%;
    }

    .icon{
        width: 30px;
        height: 30px;
    }

    .contentBox p, .copyRightContent{
        font-size: 14px;
    }

    .contentBox h1{
        font-size: 18px;
    }
   
}