footer{
    width: 100%;
}
.contactContainer{
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #28282B;
    color: white;
    font-family: var(--secondary-font);
    padding: 1rem 0 1rem 0
}

.contactContent{
    width: 75%;
    display: flex;
    justify-content: space-between;
}


.copyRightContainer{
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #202020;
}

.copyRightContent{
    width: 75%;
    padding: 1rem 0 1rem 0;
    font-family: var(--secondary-font);
    color: white;
}

span{
    color: rgb(95, 72, 248);
}

@media (max-width: 768px){
    .contactContent{
        flex-direction: column;
        width: 85%;
        gap: 1rem;
    }
}