:root {
  
  --primary-color: #000000;
  --secondary-color: #28282B;
  --text-color: #ffffff;
  --background-color: #000000;

  --fs-xsmall: 12px;
  --fs-small: 16px;
  --fs-normal: 20px;
  --fs-large: 30px;
  --fs-heading: 40px;

  --primary-font: 'ExoMedium', sans-serif;
  --secondary-font: 'ExoLight', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: ExoLight;
  src: url('/fonts/Exo-Light.ttf');
}

@font-face {
  font-family: ExoMedium;
  src: url('/fonts/Exo-Medium.ttf');
}


/* border:2px solid transparent; */
  /* background:linear-gradient(71deg,#080509,#1a171c,#080509); */
